{{ header }}

    <main class="main custom-width">

        {{ content_top }}

        {#<section class="new-products">
            <div class="container-fluid ps-0 pe-0">
                <div class="row mb-5">
                    <div class="col-12">
                        <h2 class="section-title">
                            <span>Новинки</span>
                        </h2>
                    </div>
                </div>

                <div class="owl-carousel owl-theme owl-carousel-full">
                    <div class="product-cart">
                        <div class="product-cart-offer">
                            <div class="offer-hit">Хит</div>
                            <!--<div class="offer-new">Новинка</div>-->
                        </div>
                        <div class="product-thumb">
                            <a href="#"> <img src="assets/img/products/1.jpg" alt="A-100"></a>
                        </div>
                        <div class="products-details">
                            <h4>
                                <a href="#">Антенна A-200 MU</a>
                            </h4>
                            <p class="product-expect">
                                Базовая всенаправленная антенна UHF 400-512 МГц
                            </p>
                            <div class="product-bottom-details d-flex justify-content-between align-items-center">
                                <div class="product-price">
                                    $65
                                </div>
                                <div class="product-links">
                                    <a href="#" class="btn btn-secondary">В корзину</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product-cart">
                        <div class="product-cart-offer">
                            <div class="offer-hit">Хит</div>
                            <!--<div class="offer-new">Новинка</div>-->
                        </div>
                        <div class="product-thumb">
                            <a href="#"> <img src="assets/img/products/1.jpg" alt="A-100"></a>
                        </div>
                        <div class="products-details">
                            <h4>
                                <a href="#">Антенна A-200 MU</a>
                            </h4>
                            <p class="product-expect">
                                Базовая всенаправленная антенна UHF 400-512 МГц
                            </p>
                            <div class="product-bottom-details d-flex justify-content-between align-items-center">
                                <div class="product-price">
                                    $65
                                </div>
                                <div class="product-links">
                                    <a href="#" class="btn btn-secondary">В корзину</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product-cart">
                        <div class="product-cart-offer">
                            <div class="offer-hit">Хит</div>
                            <!--<div class="offer-new">Новинка</div>-->
                        </div>
                        <div class="product-thumb">
                            <a href="#"> <img src="assets/img/products/1.jpg" alt="A-100"></a>
                        </div>
                        <div class="products-details">
                            <h4>
                                <a href="#">Антенна A-200 MU</a>
                            </h4>
                            <p class="product-expect">
                                Базовая всенаправленная антенна UHF 400-512 МГц
                            </p>
                            <div class="product-bottom-details d-flex justify-content-between align-items-center">
                                <div class="product-price">
                                    $65
                                </div>
                                <div class="product-links">
                                    <a href="#" class="btn btn-secondary">В корзину</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product-cart">
                        <div class="product-cart-offer">
                            <div class="offer-hit">Хит</div>
                            <!--<div class="offer-new">Новинка</div>-->
                        </div>
                        <div class="product-thumb">
                            <a href="#"> <img src="assets/img/products/1.jpg" alt="A-100"></a>
                        </div>
                        <div class="products-details">
                            <h4>
                                <a href="#">Антенна A-200 MU</a>
                            </h4>
                            <p class="product-expect">
                                Базовая всенаправленная антенна UHF 400-512 МГц
                            </p>
                            <div class="product-bottom-details d-flex justify-content-between align-items-center">
                                <div class="product-price">
                                    $65
                                </div>
                                <div class="product-links">
                                    <a href="#" class="btn btn-secondary">В корзину</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product-cart">
                        <div class="product-cart-offer">
                            <div class="offer-hit">Хит</div>
                            <!--<div class="offer-new">Новинка</div>-->
                        </div>
                        <div class="product-thumb">
                            <a href="#"> <img src="assets/img/products/4.jpg" alt="A-100"></a>
                        </div>
                        <div class="products-details">
                            <h4>
                                <a href="#">Антенна ADM153</a>
                            </h4>
                            <p class="product-expect">
                                Автомобильная антенна на магнитном основании.
                            </p>
                            <div class="product-bottom-details d-flex justify-content-between align-items-center">
                                <div class="product-price">
                                    4 999 р.
                                </div>
                                <div class="product-links">
                                    <a href="#" class="btn btn-secondary">В корзину</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product-cart">
                        <div class="product-cart-offer">
                            <div class="offer-hit">Хит</div>
                            <!--<div class="offer-new">Новинка</div>-->
                        </div>
                        <div class="product-thumb">
                            <a href="#"> <img src="assets/img/products/4.jpg" alt="A-100"></a>
                        </div>
                        <div class="products-details">
                            <h4>
                                <a href="#">Антенна A-100 MV</a>
                            </h4>
                            <p class="product-expect">
                                Настраиваемая стационарно-базовая VHF антенна
                            </p>
                            <div class="product-bottom-details d-flex justify-content-between align-items-center">
                                <div class="product-price">
                                    16 370 р.
                                </div>
                                <div class="product-links">
                                    <a href="#" class="btn btn-secondary">В корзину</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product-cart">
                        <div class="product-cart-offer">
                            <div class="offer-hit">Хит</div>
                            <!--<div class="offer-new">Новинка</div>-->
                        </div>
                        <div class="product-thumb">
                            <a href="#"> <img src="assets/img/products/3.jpg" alt="A-100"></a>
                        </div>
                        <div class="products-details">
                            <h4>
                                <a href="#">Антенна VH-50</a>
                            </h4>
                            <p class="product-expect">
                                Базовая коллинеарная Антенна VHF-диапазона 146-174 МГц
                            </p>
                            <div class="product-bottom-details d-flex justify-content-between align-items-center">
                                <div class="product-price">
                                    $11
                                </div>
                                <div class="product-links">
                                    <a href="#" class="btn btn-secondary">В корзину</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product-cart">
                        <div class="product-cart-offer">
                            <div class="offer-hit">Хит</div>
                            <!--<div class="offer-new">Новинка</div>-->
                        </div>
                        <div class="product-thumb">
                            <a href="#"> <img src="assets/img/products/1.jpg" alt="A-100"></a>
                        </div>
                        <div class="products-details">
                            <h4>
                                <a href="#">Антенна A-200 MU</a>
                            </h4>
                            <p class="product-expect">
                                Базовая всенаправленная антенна UHF 400-512 МГц
                            </p>
                            <div class="product-bottom-details d-flex justify-content-between align-items-center">
                                <div class="product-price">
                                    $65
                                </div>
                                <div class="product-links">
                                    <a href="#" class="btn btn-secondary">В корзину</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>#}

        <section class="mt-4 mb-4 pt-5 pb-5 ps-5 pe-5 bg-light custom-border-radius">
            <div class="fs-1 fw-bold">Нужна наша помощь?</div>
            <div class="fs-5 mb-3">Оставьте заявку и мы подберём нужный товар</div>
            <form class="mb-3 form-input">
                <input class="custom-border-radius pt-3 pb-3 ps-3 fs-6 w-25 me-3" type="text" name="name" placeholder="Ваше имя">
                <input class="custom-border-radius pt-3 pb-3 ps-3 fs-6 w-25 me-3" type="tel" name="tel" placeholder="+7 (999) 000-00-00">
                <button class="btn btn-gray pt-3 pb-3 ps-3 pe-3 fs-6" type="submit">Отправить</button>
            </form>
            <div>
                Нажимая кнопку «‎Отправить»‎ вы соглашаетесь с политикой обработки персональных данных
            </div>
        </section>

    </main>

{{ footer }}