{% if categories %}

    {% for category in categories %}

        <li class="">
            <a class="dropdown-item d-flex align-items-center menu-item pt-3 pb-3" href="{{ category.href }}">
                <img alt="{{category.name}}" src="{{ category.image }}" class="me-3">
                {{category.name}}
            </a>
        </li>

    {% endfor %}

{% endif %}

