<div class="search-block" id="search">
    <input type="text" name="search" value="{{ search }}" placeholder="{{ text_search }}">
    <button type="button" class="btn search-btn">
        <i class="fi fi-rs-search"></i>
    </button>
</div>


