<div class="search-block" id="search">
    <input type="text" name="search" value="{{ search }}" placeholder="{{ text_search }}">
    <button type="button">
        <i class="fa-solid fa-magnifying-glass"></i>
    </button>
</div>


