<div class="input-group" id="search">
    <input type="text" class="form-control" name="search" value="{{ search }}" placeholder="{{ text_search }}">
    <button class="custom-search-btn ps-3 pe-3" type="button">
        <i class="fa-solid fa-magnifying-glass"></i>
    </button>
</div>


