
:root {
  --text-color: #4E4E4E;
  --text-hover-color: #FF1F00;
}

html, body {
  height: 100%;
}

body {
  font-family: 'PT Sans', sans-serif;

  color: var(--text-color);
  min-width: 320px;
}

main.main {
  flex: 1 1 auto;
}

.wrapper {
  min-height: 100%;

  display: flex;
  flex-direction: column;
}

.custom-width {
  padding: 0;
  max-width: 60%;
  margin: 0 auto;
}

.important-width {
  width: 100vw;
  margin-left: calc(-50vw + 49%);
  margin-right: calc(-50vw + 49%);
}

.base-main {
  background-color: whitesmoke;
}

.footer {
  background-color: #2b2b2b;
}

.header-top {
  font-size: 16px;

  background-color: white;

  .fi-rr-marker:before {
    font-size: 14px;
  }

  a {
    text-decoration: none;
    color: var(--text-color);
  }

  a:hover {
    color: var(--text-hover-color);
  }

  .tel {
    text-align: right;
  }

  .tel:hover {
    color: var(--text-color);
  }

  .red-circle {
    display: inline-block;
    width: 5px;
    height: 5px;
    background-color: var(--text-hover-color);
    border-radius: 50%;
    margin-left: 5px;
    position: absolute;
    top: 27px;
  }
}

.scroll {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-bottom {
  transition: all 0.3s;

  background-color: white;

  .custom-col {
    width: 54%;
  }

  .header-title {
    font-size: 30px;
    font-weight: bold;

    a {
      text-decoration: none;
      color: white;
    }

    a:hover {
      color: var(--text-hover-color);
    }
  }

  .header-block {
    background: linear-gradient(to bottom, rgb(51, 51, 51), rgb(78, 78, 78));
    border-radius: 12px;
    height: 64px;

    .header-mini-block {
      font-size: 16px;
      font-weight: normal;
      color: white;
      background: rgb(89, 89, 89);
      border-radius: 12px;
      padding: 10px 15px 10px 25px;
    }
  }

  .header-search {
    display: inline-block;
    height: 64px;
    box-sizing: border-box;
    //margin-right: 20px;

    input {
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      border-radius: 8px;
      line-height: 40px;
      font-size: 16px;
      background: #f7f7f7;
      transition: background .3s;
      padding: 0 20px 0 20px;
      color: #333;
      border: none;
      outline: none;
    }


    .search-block {
      white-space: nowrap;
      box-sizing: border-box;
      position: relative;
      border-radius: 12px;
      line-height: normal;
      background: #f7f7f7;
      transition: background .3s;
      height: 100%;
      font: inherit;
      color: #333;
      border: none;
      outline: none;
      padding: 0 60px 0 20px;
      //max-width: 530px;

      .search-btn {
        margin-left: 5px;
        border: none;
        transition: background .3s;
        background: #f7f7f7;
        color: rgb(175, 175, 175);

        .fi-rs-search:before {
          font-size: 20px;
        }

      }

      .search-btn:hover {
        color: #333;
      }
    }

    .search-block:hover {
      background: #fff;
      box-shadow: 0 0 0 1px rgba(0, 0, 0, .04), 0 4px 4px rgba(0, 0, 0, .04), 0 20px 40px rgba(0, 0, 0, .08);
      z-index: 4;
    }

    .search-block:hover .search-btn {
      background: #fff;
    }

    .search-block:hover input {
      background: #fff;
    }

    //.search-block input:focus:not(:placeholder-shown) {
    //  background: #fff;
    //}

  }

  .header-buttons {

    .button-item {
      a, button {
        color: var(--text-color);
        text-decoration: none;

        padding: 11px;

        width: auto;
        height: 64px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
      }
    }

    .button-item:hover {
      transition: all 0.3s;
      border-radius: 12px;
      background-color: #f7f7f7;
    }


    .button-item svg {
      a, button {
        width: 21px;
        height: 22px;
        margin-bottom: 5px;
      }

    }

  }
}

.breadcrumbs {
  text-align: left;
  margin: 20px 0 5px;

  font-weight: lighter;
  font-size: 14px;

  ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }

  a {
    text-decoration: none;
    color: black;
    transition: all 0.3s;
    margin-right: 0.5rem;
  }

  a:hover {
    color: var(--text-hover-color);
  }

  a:after {
    content: ">";
    padding-left: 0.5rem;
    color: black;
  }
}

.breadcrumb-last {
  p {
    color: var(--text-color);
  }
}

main {
  .menu {
    .menu-item {
      list-style-type: none;
    }

    .last-menu-item {
      border-top: 1px solid #e7e7e7;
      margin-top: 20px;
    }

    .menu-item:hover {
      transition: all 0.3s;
      color: var(--text-hover-color);
    }
  }

  .home-block {

    padding-right: 1.5rem;
    padding-left: 1.5rem;


    .home-block-item {

      a {
        text-decoration: none;
      }

      margin: 0 auto;

      max-width: 183px;
      max-height: 206px;

      padding: 24px 20px;

      border-radius: 16px;

      h2 {
        font-size: 18px;
        font-weight: bold;
        color: #333333;
      }

      p {
        font-size: 14px;
        color: #333333;
        font-weight: normal;
      }

      .btn-sales {
        background: #fff;
        color: #333;
        border: 1px solid #d9d9d9;

        box-sizing: border-box;
        align-items: center;
        border-radius: 8px;
        cursor: pointer;
        display: inline-flex;
        font-size: 16px;
        font-family: inherit;
        line-height: 100%;
        justify-content: center;
        padding: 10px 19px;
        text-align: center;
        outline: none;
        position: relative;
        user-select: none;

      }

      .btn-sales:hover {
        transition: all 0.3s;
        background-color: #f7f7f7;
      }
    }

    .first {
      min-width: 283px;
      padding: 24px 14px 24px 20px;
    }

    .last {
      margin-right: 0;
    }
  }
}

.showcase {
  margin: 0 auto;
}

.showcase-block {
  min-width: 275px;
  padding-left: 0;
  padding-right: 0;

  .showcase-title {
    font-weight: bold;
    font-size: 18px;
    color: var(--text-color);
  }

  .showcase-category {
    font-size: 14px;
    font-weight: normal;
    color: #8C8C8C;

    margin-bottom: 4px;

    text-decoration: none;
  }

  .showcase-p {
    margin: 0;
  }

  .showcase-category:hover {
    color: var(--text-hover-color);
  }
}

.banner {
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  z-index: 10;
}

.banner:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.actions {
  .title {
    font-weight: bold;
    color: black;
  }

  .actions-menu {
    background-color: white;
    border-radius: 8px;

    padding: 20px 10px;

    font-size: 18px;
    font-weight: bold;

    height: 100%;

    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .16);

    .menu-item {
      margin: 5px 15px;
    }

    a {
      text-decoration: none;
      color: var(--text-color);
      transition: all 0.3s;
    }

    a:hover {
      color: var(--text-hover-color);
    }

  }

  .block {
    background-color: white;

    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .16);
    border-radius: 8px;
    transition: box-shadow 0.3s ease;

    padding: 24px;
  }

  .block:hover {
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.18);
  }

  .block-image {
    margin-right: 20px;

    img {
      width: 260px;
      height: 190px;
      border-radius: 8px;
    }
  }

  .block-content {
    transition: all 0.3s;

    border-right: #d9d9d9 1px solid;

    min-width: 300px;
    max-width: 300px;

    h2 {
      font-weight: bold;
      font-size: 18px;
      margin-bottom: 20px;

      a {
        color: black;
        text-decoration: none;
      }

      a:hover {
        color: var(--text-hover-color);
      }
    }

    p {
      font-size: 15px;
      color: var(--text-color);
    }
  }

  .block-product {
    margin: 0 auto;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;

    div {
      margin: 0;
      text-align: center;
    }

    h4 {
      margin-top: 10px;
      color: var(--text-color);
    }

    a {
      transition: all 0.3s;
      color: #0d61af;
      text-decoration: none;

      font-size: 16px;
    }

    a:hover {
      color: var(--text-hover-color);
    }
  }
}

.action-block {
  .action-title {
    color: black;
    font-weight: normal;
    line-height: 1.1;

    font-family: inherit;

    font-size: 32px;

    margin: 0 0 20px;
  }

  .action-info {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .16);
    width: auto;
    background-color: white;
    border-radius: 8px;

    height: min-content;

    padding: 0 0 10px 0;
    margin-left: 1rem;

    img {
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      width: 860px;
      height: 300px;
    }
  }

  .description {
    white-space: pre-line;
  }

  .p-text {
    margin-left: 20px;
    font-size: 18px;

    color: black;
  }

  .accordion-item {
    border-bottom: 1px solid #ccc;
  }

  .accordion-link {
    display: block;
    padding: 15px;
    font-size: 18px;
    color: #333;
    text-decoration: none;
  }

  .accordion-link:hover {
    background-color: #f0f0f0;
  }

  .accordion-content {
    display: none;
    padding: 15px;
  }

  .accordion-content p {
    margin: 0;
  }

  .product {
    width: 280px;
    margin-left: 20px;
    padding: 24px 20px 16px;

    height: min-content;

    border-radius: 8px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .16);
  }

  .product-link {
    display: flex;
    justify-content: center;

    a {
      color: #0d61af;
      text-decoration: none;
      transition: all 0.3s;
    }

    i {
      color: #0d61af;
    }

    a:hover {
      color: var(--text-hover-color);
    }

    .lll {
      transition: all 0.3s;
      color: var(--text-hover-color);
    }
  }

  .product-count {
    font-size: 18px;
    font-weight: bold;

    span {
      color: #8c8c8c;
      flex-grow: 1;
      font-size: 14px;
      font-weight: lighter;
      margin-left: 4px;
    }
  }

  .product-item {
    text-align: center;

    img {
      width: 160px;
      height: 160px;
    }

    .product-title {
      font-size: 16px;
      line-height: 22px;

      a {
        transition: all 0.3s;
        text-decoration: none;

        color: #000;
      }

      a:hover {
        color: var(--text-hover-color);
      }
    }

    .product-action {
      text-align: left !important;

      span {
        transition: all 0.3s;
        background: #ffe4eb;
        color: #f06291;
        font-size: 11px;
        line-height: 22px;
      }
    }

    .product-action:hover {
      span {
        background: #fdc1cb;
      }
    }

    .product-details {
      background: linear-gradient(270deg, #f6f6f6, hsla(0, 0%, 100%, 0));
      border-radius: 8px;
      height: auto;
      padding: 2px;

      width: 152px;

      cursor: pointer;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .product-price {
        font-size: 18px;
        font-weight: 700;
        line-height: 20px;

        color: var(--text-hover-color);
      }

      .product-price-prev {
        color: #8c8c8c;
        font-size: 12px;
        font-weight: 400;
        margin-left: 2px;
        text-decoration: line-through;
      }
    }

    .product-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 20px;
      width: 44px !important;
      height: 44px !important;
      margin-left: 4px;
      color: #afafaf;
      border: 1px solid #d9d9d9;

      i {
        width: 20px;
        height: 24px;
      }
    }


    .product-btn:hover {
      background-color: #f7f7f7;
    }

    .product-btn-cart:hover {
      background-color: #fa5841;
    }

    .product-btn-cart:active {
      background-color: #fd9c8d;
    }
  }

}

.selected {
  i{
    color: black;
  }
}

.hover {
  transition: all 0.3s;

  i {
    color: white;
  }

  color: white!important;

  background-color: var(--text-hover-color);
  border-color: var(--text-hover-color)!important;
}

.timer {
  padding: 10px 20px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;

  p {
    color: #333;
    font-size: 12px;
    letter-spacing: .4px;
    margin-bottom: 8px;
    text-align: center;
  }

  .timer-item {
    text-align: center;
  }

  .expired {
    color: #333;
    font-weight: 700;
    font-size: 26px;
  }

  .timer-block {
    color: #333;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 1.07px;
    line-height: 32px;

    .unit {
      font-size: 14px;
      font-weight: lighter;
      line-height: 1;
      text-align: center;
    }

  }
}

.colon {
  color: #333;
  font-size: 32px;
  font-weight: 700;
  display: inline-block;
  //margin-right: 10px;
  opacity: 1;
  animation: blink 1s infinite alternate;
}

.action-accordion {
  .accordion-body {
    max-width: 858px;
    white-space: pre-line;
  }

  .accordion {
    background-color: white !important;
    border: none !important;
    border-radius: 0 !important;

    .accordion-item {
      border: none !important;
      border-radius: 0 !important;
    }

    .accordion-button:not(.collapsed) {
      box-shadow: none;
    }

    .accordion-button::after {
      margin-left: 5px;
      color: #0d61af;
    }

    .accordion-button {
      background-color: white;
      border: none;
      font-size: 18px;
      letter-spacing: .2px;
      line-height: 24px;
      color: #0d61af;
    }

    .accordion-button:hover {
      color: var(--text-hover-color);
    }

    --bs-accordion-btn-focus-border-color: none;
    --bs-accordion-btn-focus-box-shadow: none;
  }

}

.p-date {
  color: #666;
  line-height: 18px;
  font-size: 18px;
  margin-left: 20px;
}

.catalog-products {
  .view-options{
    background-color: white;
    border-radius: 8px;
    padding: 2px 16px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .16);

    button{
      color: #afafaf;
    }

    button:hover{
      color: #8a8989;
    }

    .btn{
      border: none;
    }
  }
  .catalog-product {
    box-sizing: border-box;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .16);
  }

  .product-list.grid-view {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill,minmax(238px,1fr));
  }

  .product-list.list-view{
    grid-gap: 10px;
    display: grid;
    grid-template-columns: 1fr;
  }

  .catalog-product-rating{
    display: flex;
    justify-content: space-between;
  }

  .rating{
    .rating-block{
      padding: 7px 6px 3px 6px;
      width: min-content;
      border-radius: 8px;
      border: 1px solid #afafaf;
      display: inline-flex;
    }
    i{
      font-size: 12px;
      margin-right: 5px ;
      color: var(--text-hover-color);
    }

    i:last-child{
      margin-right: 0 ;
    }
  }

  .catalog-product-image {
    position: relative;
    text-align: center;
    .catalog-product-image-link {
      img {
        height: auto;
      }
    }
    .catalog-product-discount {
      position: absolute;
      border-radius: 14px;
      bottom: 0;
      background-color: var(--text-hover-color);
      color: #fff;
      font-size: 12px;
      height: 24px;
      left: 0;
      padding: 4px;
    }
  }

  .catalog-product-name {
    font-size: 16px;
    line-height: 22px;
    color: #000;

    text-decoration: none;

    transition: all 0.3s;
  }

  .product-buy{
    display: flex;
  }

  .catalog-product-name:hover{
    color: var(--text-hover-color);
  }

  .product-action {
    text-align: left !important;

    span {
      transition: all 0.3s;
      background: #ffe4eb;
      color: #f06291;
      font-size: 11px;
      line-height: 22px;
    }
  }

  .product-action:hover {
    span {
      background: #fdc1cb;
    }
  }

  .product-price {
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;

    color: var(--text-hover-color);
  }

  .product-price-prev {
    color: #8c8c8c;
    font-size: 12px;
    font-weight: 400;
    margin-left: 2px;
    text-decoration: line-through;
  }

  .product-btn:hover {
    background-color: #f7f7f7;
  }

  .product-btn-cart:hover {
    background-color: #fa5841;
    border-color: #fa5841;
  }

  .product-btn-cart:active {
    background-color: #fd9c8d;
  }

  .grid-view {
    .catalog-product{
      padding: 12px;
      grid-gap: 12px;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 200px minmax(20px,auto) 30px 50px;
    }
    .catalog-product-image {
      .catalog-product-image-link {
        img {
          max-width: 200px;
          width: 200px;
        }
      }
    }

    .product-details {
      background: linear-gradient(270deg, #f6f6f6, hsla(0, 0%, 100%, 0));
      border-radius: 8px;
      height: 44px;
      padding: 2px;

      width: 152px;

      cursor: pointer;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .product-price {
        font-size: 18px;
        font-weight: 700;
        line-height: 20px;

        color: var(--text-hover-color);
      }

      .product-price-prev {
        color: #8c8c8c;
        font-size: 12px;
        font-weight: 400;
        margin-left: 2px;
        text-decoration: line-through;
      }
    }

    .product-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 20px;
      width: 44px !important;
      height: 44px !important;
      margin-left: 4px;
      color: #afafaf;
      border: 1px solid #d9d9d9;

      i {
        width: 20px;
        height: 24px;
      }
    }
  }


  .list-view {

    .catalog-product{
      grid-gap: 12px 0;
      display: grid;
      grid-template-columns: auto minmax(0,1fr) 170px;
      grid-template-rows: 1fr 32px 20px;
      padding: 24px 16px;
    }

    .catalog-product-image {
      grid-column: 1;
      grid-row: 1/4;
      height: 176px;
      margin-right: 12px;
      width: 160px;
    }

    .catalog-product-name{
      grid-column: 2;
      grid-row: 1;
    }

   .catalog-product-rating{
     grid-column: 2;
     grid-row: 2;

     justify-content: left;

     .rating{
       margin-right: 12px;
     }
   }

    .product-buy{
      display: grid;
      grid-column: 3;
      grid-row: 1/3;
      grid-template-columns: auto auto;
      grid-template-rows: auto 1fr;
      justify-self: right;
      padding-left: 12px;

      .product-details{
        align-self: flex-start;
        background: none;
        display: grid;
        grid-column: 1/3;
        grid-template-columns: 1fr auto;
        grid-template-rows: auto auto;
        justify-content: start;
        justify-self: end;
        padding-bottom: 16px;
        text-align: right;

        .product-price{
          display: flex;
          flex-direction: column-reverse;
          font-size: 20px;
          grid-column: 2;
          grid-row: 2;
          line-height: 26px;
        }
      }
    }

    .product-btn{
      border: 1px solid #afafaf;
      border-radius: 8px;
      color: #afafaf;
      height: min-content;
    }

    .product-btn-cart{
      margin-left: 12px;
      color: black;
    }
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media screen and (min-width: 1921px) {
  .custom-width {
    max-width: 45%;
  }
}


