
:root {
  --text-color: #4E4E4E;
  --text-hover-color: #FF1F00;
}

html, body {
  height: 100%;
}

body {
  font-family: 'PT Sans', sans-serif;

  color: var(--text-color);
  min-width: 320px;
}

main.main {
  flex: 1 1 auto;
}

.wrapper {
  min-height: 100%;

  display: flex;
  flex-direction: column;
}

.custom-width {
  padding: 0;
  max-width: 60%;
  margin: 0 auto;
}

.header-top {
  font-size: 16px;

  .fi-rr-marker:before {
    font-size: 14px;
  }

  a {
    text-decoration: none;
    color: var(--text-color);
  }

  a:hover {
    color: var(--text-hover-color);
  }

  .tel{
    text-align: right;
  }

  .tel:hover {
    color: var(--text-color);
  }

  .red-circle {
    display: inline-block;
    width: 5px;
    height: 5px;
    background-color: var(--text-hover-color);
    border-radius: 50%;
    margin-left: 5px;
    position: absolute;
    top: 27px;
  }
}

.header-bottom {
  .header-title {
    font-size: 30px;
    font-weight: bold;

    a {
      text-decoration: none;
      color: white;
    }

    a:hover {
      color: var(--text-hover-color);
    }
  }

  .header-block {
    background-color: #646464;
    border-radius: 12px;

    .header-mini-block {
      font-size: 16px;
      font-weight: normal;
      color: white;
      background-color: #afafaf;
      border-radius: 12px;
      padding: 10px;
    }
  }



  .header-search {

  }
}


