:root {
  --text-color: #4E4E4E;
  --text-hover-color: #FF1F00;
}

html, body {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  color: var(--text-color);
  min-width: 320px;
}

main.main {
  flex: 1 1 auto;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.custom-width {
  padding: 0;
  max-width: 60%;
  margin: 0 auto;
}

.header-top {
  font-size: 16px;
}
.header-top .fi-rr-marker:before {
  font-size: 14px;
}
.header-top a {
  text-decoration: none;
  color: var(--text-color);
}
.header-top a:hover {
  color: var(--text-hover-color);
}
.header-top .tel {
  text-align: right;
}
.header-top .tel:hover {
  color: var(--text-color);
}
.header-top .red-circle {
  display: inline-block;
  width: 5px;
  height: 5px;
  background-color: var(--text-hover-color);
  border-radius: 50%;
  margin-left: 5px;
  position: absolute;
  top: 27px;
}

.header-bottom {
  transition: all 0.3s;
  background-color: white;
}
.header-bottom .custom-col {
  width: 45%;
}
.header-bottom .header-title {
  font-size: 30px;
  font-weight: bold;
}
.header-bottom .header-title a {
  text-decoration: none;
  color: white;
}
.header-bottom .header-title a:hover {
  color: var(--text-hover-color);
}
.header-bottom .header-block {
  background: linear-gradient(to bottom, rgb(51, 51, 51), rgb(78, 78, 78));
  border-radius: 12px;
  height: 64px;
}
.header-bottom .header-block .header-mini-block {
  font-size: 16px;
  font-weight: normal;
  color: white;
  background: rgb(89, 89, 89);
  border-radius: 12px;
  padding: 10px 15px 10px 25px;
}
.header-bottom .header-search {
  display: inline-block;
  height: 64px;
  box-sizing: border-box;
}
.header-bottom .header-search input {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-radius: 8px;
  line-height: 40px;
  font-size: 16px;
  background: #f7f7f7;
  transition: background 0.3s;
  padding: 0 20px 0 20px;
  color: #333;
  border: none;
  outline: none;
}
.header-bottom .header-search .search-block {
  white-space: nowrap;
  box-sizing: border-box;
  position: relative;
  border-radius: 12px;
  line-height: normal;
  background: #f7f7f7;
  transition: background 0.3s;
  height: 100%;
  font: inherit;
  color: #333;
  border: none;
  outline: none;
  padding: 0 60px 0 20px;
}
.header-bottom .header-search .search-block .search-btn {
  margin-left: 5px;
  border: none;
  transition: background 0.3s;
  background: #f7f7f7;
  color: rgb(175, 175, 175);
}
.header-bottom .header-search .search-block .search-btn .fi-rs-search:before {
  font-size: 20px;
}
.header-bottom .header-search .search-block .search-btn:hover {
  color: #333;
}
.header-bottom .header-search .search-block:hover {
  background: #fff;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.04), 0 4px 4px rgba(0, 0, 0, 0.04), 0 20px 40px rgba(0, 0, 0, 0.08);
  z-index: 4;
}
.header-bottom .header-search .search-block:hover .search-btn {
  background: #fff;
}
.header-bottom .header-search .search-block:hover input {
  background: #fff;
}
.header-bottom .header-buttons .button-item a, .header-bottom .header-buttons .button-item button {
  color: var(--text-color);
  text-decoration: none;
  padding: 11px;
  min-width: 90px;
  height: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.header-bottom .header-buttons .last a {
  min-width: 46px;
  padding: 5px;
}
.header-bottom .header-buttons .button-item:hover {
  transition: all 0.3s;
  border-radius: 12px;
  background-color: #f7f7f7;
}
.header-bottom .header-buttons .button-item svg a, .header-bottom .header-buttons .button-item svg button {
  width: 21px;
  height: 22px;
  margin-bottom: 5px;
}

.custom-textarea {
  min-height: 400px;
}

main .menu .menu-item {
  list-style-type: none;
}
main .menu .last-menu-item {
  border-top: 1px solid #e7e7e7;
  margin-top: 20px;
}
main .menu .menu-item:hover {
  transition: all 0.3s;
  color: var(--text-hover-color);
}
main .home-block {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}
main .home-block .home-block-item {
  margin: 0 auto;
  max-width: 183px;
  max-height: 206px;
  padding: 24px 20px;
  border-radius: 16px;
}
main .home-block .home-block-item a {
  text-decoration: none;
}
main .home-block .home-block-item h2 {
  font-size: 18px;
  font-weight: bold;
  color: #333333;
}
main .home-block .home-block-item p {
  font-size: 14px;
  color: #333333;
  font-weight: normal;
}
main .home-block .home-block-item .btn-sales {
  background: #fff;
  color: #333;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  font-family: inherit;
  line-height: 100%;
  justify-content: center;
  padding: 10px 19px;
  text-align: center;
  outline: none;
  position: relative;
  user-select: none;
}
main .home-block .home-block-item .btn-sales:hover {
  transition: all 0.3s;
  background-color: #f7f7f7;
}
main .home-block .first {
  min-width: 283px;
  padding: 24px 14px 24px 20px;
}
main .home-block .last {
  margin-right: 0;
}

.showcase {
  margin: 0 auto;
}

.showcase-block {
  min-width: 275px;
  padding-left: 0;
  padding-right: 0;
}
.showcase-block .showcase-title {
  font-weight: bold;
  font-size: 18px;
  color: var(--text-color);
}
.showcase-block .showcase-category {
  font-size: 14px;
  font-weight: normal;
  color: #8C8C8C;
  margin-bottom: 4px;
  text-decoration: none;
}
.showcase-block .showcase-p {
  margin: 0;
}
.showcase-block .showcase-category:hover {
  color: var(--text-hover-color);
}

.banner {
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  z-index: 10;
}

.banner:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

@media screen and (min-width: 1921px) {
  .custom-width {
    max-width: 45%;
  }
}

/*# sourceMappingURL=main.css.map */
